<div class="row">
    <div class="col-md-2 ml-3 px-0">
        <jobmenu [departments]="departments"></jobmenu>
        </div>
        <div class="col-md-8 mt-4 ml-4">
            <div>
                <i class="material-icons align-middle pr-1">search</i>
                <input type="text" placeholder="Seach by Name" #seachText>
             </div>
        
            <div class="border border-primary rounded bg-white px-0 mt-2 shadow-lg" >
            <form [formGroup]="editJobTitleForm" >
            <table style="width: 100%;">
                <thead>
                <tr>
                    <th style="width: 50%;">Job Title</th>
                    <th style="width: 15%;">In Department</th>
                    <th style="width: 13%;">No Of Employees</th>
                    <th style="width: 10%;"></th>
                </tr>
                </thead>
                
                <ng-container *ngFor="let j of jobTitles">
                  <tr>
                    <td valign="top">
                      <div *ngIf="!showEditJobTitle || editThisJobTitle != j.id">{{ j.jobTitleName }}</div>
                      <input *ngIf="showEditJobTitle && editThisJobTitle == j.id" type="text" style='width: 80%;' class="form-control" formControlName="jobTitleName" [(ngModel)]="j.jobTitleName">
                    </td>
                    <td valign="top">
                      <div *ngIf="!showEditJobTitle || editThisJobTitle != j.id">{{ j.inDepartment }}</div>
                      <select *ngIf="showEditJobTitle && editThisJobTitle == j.id" class="form-control" formControlName="inDepartment" [ngModel]="j.inDepartment" required>
                        <option *ngFor="let dep of departments" [value]="dep.departmentName">{{dep.departmentName}}</option>
                      </select>
                    </td>
                    <td valign="top">
                      {{ j.numberOfEmployees }}
                      <a *ngIf="j.numberOfEmployees > 0" [routerLink]="['../Employees']">Show</a>
                    </td>
                    <td valign="top">
                      <button *ngIf="showEditJobTitle && editThisJobTitle == j.id" type="submit" class="btn btn-danger" (click)="editJobTitle(j.id)">Update</button>

                      <i *ngIf="!showEditJobTitle || editThisJobTitle != j.id" class="material-icons button edit" (click)="toggleEditJobTitle(j.id)">edit</i>
                      <i *ngIf="!showEditJobTitle || editThisJobTitle != j.id" class="material-icons button delete" (click)="deleteJobTitle(j.id)">delete</i>
                    </td>
                  </tr>
            </ng-container>
            </table>
            </form>
            </div>
        </div>
    </div>
