
<div class="row shift-menu border border-primary rounded shadow-sm shadow-lg mt-2" (click)="toggleShowNewShift()">
  <div class="col-md-8 offset-md-0">
    <p>New&nbsp;Shift</p>
  </div>
  <div class="col-md-2 offset-md-1">
    <p>
      <i *ngIf="!showNewShift" class="material-icons align-middle">keyboard_arrow_right</i>
      <i *ngIf="showNewShift" class="material-icons align-middle">keyboard_arrow_down</i>
    </p>
  </div>
</div>

<div *ngIf="showNewShift" [@slideInOut] class="bg-white border border-primary rounded shadow-sm shadow-lg mt-3">
  <form [formGroup]="newShiftForm" (ngSubmit)="newShift()" novalidate>
    <div class="container">
      <div class="row">
        <div class="col-md-2 offset-md-0" align="right">
          <i class="material-icons">place</i>
        </div>
        <div class="col-md-10 offset-md-0">
          <input type="text" class="form-control" formControlName="shiftName" placeholder="Shift Name" required autofocus>
        </div>
        <div class="col-md-2 offset-md-0" align="right">
          <i class="material-icons">place</i>
        </div>
        <div class="col-md-10 offset-md-0">
          <input type="text" class="form-control" formControlName="shiftDurationInMins" placeholder="Shift Duration" required autofocus>
        </div>
      </div>
      <div class="col-md-4 offset-md-7">
        <button type="submit" class="btn btn-primary">+ Add</button>
      </div>
      <div *ngIf="validMessage != ''" class="col-md-8 offset-md-2">
        <div class="validMessage">
          {{validMessage}}
        </div>
      </div>
    </div>
  </form>
</div>

