

  <div class="row rota-menu border border-primary rounded shadow-sm shadow-lg mt-2">
    <div class="col-md-6 offset-md-0">
      <p>Total&nbsp;Hours:</p>
    </div>
    <div class="col-md-5 offset-md-1 pl-0 pr-3" align="right">
      <p>{{totalHours}}</p>
    </div>
  </div>

  <div class="row rota-menu border border-primary rounded shadow-sm shadow-lg mt-2">
    <div class="col-md-6 offset-md-0" align="left">
      <p>Holidays:</p>
    </div>
    <div class="col-md-5 offset-md-1 pl-0 pr-3" align="right">
      <p>{{totalHolidays}}</p>
    </div>
  </div>

  <div class="row rota-menu border border-primary rounded shadow-sm shadow-lg mt-2">
    <div class="col-md-6 offset-md-0" align="left">
      <p>Sick Days:</p>
    </div>
    <div class="col-md-5 offset-md-1 pl-0 pr-3" align="right">
      <p>{{totalSickdays}}</p>
    </div>
  </div>
